<h1>Menu items that match your search:</h1>
<div ng-if="(found | json != ({} | json)">
	<ul ng-repeat="item in found">
	    <li>
	       <p>Name: {{item.name}}</p>
	       <p>Short Name: {{item.short_name}}</p>
	       <p>Description: {{item.description}}</p> 
	       <!-- <li ng-repeat="item in list.items">
	       {{item.name}} = {{item.description}}  -->
	       <button ng-click="onRemove({index: $index})">Don't want </button>
	       <!-- <button ng-click="choices.removeItem(index: $index);" class="btn btn-primary">Don't want this one!</button> -->
	   </li>
	</ul>
</div>
<div ng-if="(found | json === ({} | json)">
	<p>Nothing Found! </p>
</div>
